$padding: 8px;
$margin: 8px;
$radius: 4px;
$green_bg: #26ae68;
$sandy_beach: #f9d99c;
$hillary: #bba986;
$mandalay: #b57e17;
$moccasin: #fbebc9;
$sandy_beach_light: #fce9b25f;
$cedar: #6a1b08;
$body_width: 1510px;
$img-size: 300px;
